#扩展名
#----------------------------------------------------------------
*.iml
*.log
*.lock.db
*.trace.db
*.tar
#目录
#----------------------------------------------------------------
.idea/
target/
dbg/
logs/